numpy~=1.22.3
configspace~=0.5.0
naslib~=0.1.0
dehb~=0.0.2
fvcore~=0.1.5.post20210630
torch~=1.9.0
torchvision~=0.10.0
scikit-learn~=1.0.2
scipy~=1.8.1
termcolor~=1.1.0
pillow~=9.0.1
scikit-image~=0.19.2
matplotlib~=3.5.1
grakel~=0.1.8
networkx~=2.7.1
six~=1.16.0
pybnn~=0.0.5
emcee~=3.1.0
lightgbm~=3.2.1
ngboost~=0.3.11
xgboost~=1.4.2
tensorwatch~=0.9.1
pyyaml~=5.4.1
setuptools~=62.6.0